version: '3.1' # specify docker-compose version

volumes:
  # Set up with `docker volume create ...`. See docker/README.md for more info.
  pg_comp_ai_volume:

services:
  # Starts up a postgres database
  postgres:
    image: postgres:16
    restart: always
    volumes:
      - pg_comp_ai_volume:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - postgres
  
  # Runs from the latest release
  comp-ai-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: pascalhuerten/comp-ai-api:latest
    pull_policy: always
    restart: always
    env_file:
      - .env
    volumes:
      - ./data/models:/code/data/models
      - ./hf_cache:/root/.cache/huggingface
    ports:
      - "${HOST_PORT}:7680"
    depends_on:
      - postgres